<!DOCTYPE html>
<html lang="en">

<head>
  <title>MedBlock </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css">
  <link rel="stylesheet" href="/static/css/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">


  <link rel="stylesheet" href="/static/css/aos.css">

  <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

  <div class="site-wrap">


    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone"><strong class="text-primary">Med</strong>Block</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li ><a href="/">Home</a></li>
                
                <li ><a href="/mf-login/">Manufacturer</a></li>
                <li><a href="/dist-login/">Distributer</a></li>
                <li class="active"><a href="/ret-login/">Retailer</a></li>
                <li><a href="/cust-login/">Customers</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>
  

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="/">Home</a> <span class="mx-2 mb-0">/</span>
            <strong class="text-black">Register</strong>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="bg-light rounded p-3">
              <p class="mb-0">Already Registered? <a href="/ret-login/" class="d-inline-block">Click here</a> to login</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Register As Retailer</h2>
            <div class="p-3 p-lg-5 border">
              <form method="post" action="{% url 'register_retailer' %}">
                {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="m_name" class="text-black">Retailer Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="m_name" name="name" required>
                        </div>
                    </div>
            
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="m_address" class="text-black">Address <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="m_address" name="address" required></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="reg_no" class="text-black">Registeration No <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="reg_no" name="reg_no" required>
                        </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-12">
                          <label for="email" class="text-black">Email <span class="text-danger">*</span></label>
                          <input type="email" class="form-control" id="email" name="email" required>
                      </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-12">
                        <label for="password" class="text-black">Password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                </div>
            
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register Retailer</button>
                        </div>
                    </div>
                </form>
            </div>
    
    
            </div>
          </div>
          
          <footer class="site-footer bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
        
                  <div class="block-7">
                    <h3 class="footer-heading mb-4">About <strong class="text-primary">MedBlock</strong></h3>
                    <p>MedBlock is a blockchain platform enhancing transparency and security in the pharmaceutical supply chain, ensuring authentic product distribution from manufacturers to customers.</p>
                  </div>
        
                </div>
                <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                  <h3 class="footer-heading mb-4">Navigation</h3>
                  <ul class="list-unstyled">
                    
                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                      <li ><a href="/">Home</a></li>
                      
                      <li ><a href="/mf-login/">Manufacturer</a></li>
                      <li ><a href="/dist-login/">Distributer</a></li>
                      <li><a href="/ret-login/">Retailer</a></li>
                      <li><a href="/cust-login/">Customers</a></li>
                    </ul>
                
                  </ul>
                </div>
        
                <div class="col-md-6 col-lg-3">
                  <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4">Contact Info</h3>
                    <ul class="list-unstyled">
                      <li class="address">Akshaya & Arunima</li>
                      <li class="phone"><a href="tel://23923929210">+91 9897754367</a></li>
                      <li class="email">contact@medblock.com</li>
                    </ul>
                  </div>
        
        
                </div>
              </div>
              <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                  <p>
                    
                     All rights reserved | MedBlock
        
                    
                  </p>
                </div>
        
              </div>
            </div>
          </footer>
  </div>
  {% if messages %}
  {% for msg in messages %}
  <script>alert('{{msg}}')</script>
  {% endfor %}
  {% endif %}
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/aos.js"></script>

  <script src="/static/js/main.js"></script>

</body>

</html>